

/* ==========================================================================
   Written By Fortas Abdeldjalil
   ========================================================================== */
  .main-cover{
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-image: url('../img/ep/cover-trsp.png');
    min-height: 60vh;
  }

  .owl-carousel .row{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3%;
    min-height: 50vh;

  }

  .owl-carousel p,
  .owl-carousel h2{
    color: white;
    text-shadow: 2px 2px 2px black;
  }
  .owl-carousel img{
    max-height: 250px!important;
    height: auto;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .owl-carousel p{
    font-size: 130%;
    font-weight: bold;
  }


  .owl-dots {
      text-align: center;
  }

  .owl-dot {
      border-radius: 50px;
      height: 10px;
      width: 10px;
      display: inline-block;
      background: #FF5252;
      margin: 5px;
  }

  .owl-dot.active {
      background: #FFCDD2;
  }

  .index-section-title span{
    color: #F44336;
  }

  h1.index-section-title{
    font-family: 'Merienda One', cursive;
  }

  section.index p{
    font-size: 140%;
  }

  section.index{
    margin-bottom: 7%;
  }
  section.index h1{
    margin-bottom: 4%;
  }

  .contact-section {
    position: relative;
    z-index: 1;
    min-height: 70vh;
    padding-top: 10%;
    text-align: center;
  }

  .contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url(../img/ep/cover.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

  }

  .red-btn,
  .red-btn:hover,
  .red-btn:focus,
  .red-btn:active,
  .red-btn.active{
    background-color: #F44336!important;
    border-color: #F44336;
    color: white;
  }
  .red-light-btn{
    background-color: white!important;
    border-color: white;
    color: #F44336;
  }

  .red-light-btn:hover,
  .red-light-btn:focus,
  .red-light-btn:active,
  .red-light-btn.active{
    background-color: #F44336!important;
    border-color: #F44336;
    color: white;
  }

  .red-text,
  .red-color:hover,
  .red-color:focus,
  .red-color:active,
  .red-color.active{
    color: #F44336!important;
  }
/*Products*/
.caption {
        width:100%;
        bottom: .3rem;
        position: absolute;
        background:#000;
        background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
        background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin:0;
    padding:0;
    overflow: hidden;
    margin: 3% 0;
    height: 40vh;
}
.thumbnail img{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -ms-transition: -ms-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.caption h4 {
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.thumbnail img:hover{
  transform: rotate(10deg) scale(1.5);
  -ms-transform: rotate(10deg) scale(1.5);
  -webkit-transform: rotate(10deg) scale(1.5);
}

.contact-infos {
  background-color: rgba(255,235,238, 0.1);

}

.contact-infos .contact-element{
  margin-bottom: 10px;
}
.contact-infos .contact-element strong{
  color: #EF5350;
}

.red-astr{
  color: #F44336;
}

.search-options{
  margin-top: 40px;
}


.mini-image img {
  height: 50px !important;
  cursor: pointer;
  border: 1px solid #EEE;
  border-radius: 4px;
  margin-left: 2px;
}

.mini-image img:hover {
  opacity: .7;
}
/*Cards*/
